 @media(min-width:300px){
    #number_display{
        font-size: 50px;
        font-weight: bolder;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    #div{
        display: flex;
        justify-content:center ;
    }
    #increase_count{
        width: 80px;
        height: auto;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;
      margin-right: 1rem;
         
    }
    #increase_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
    #decrease_count{
        width: 80px;
        height: auto;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;
         
         
    }
    #decrease_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
}
@media (min-width:700px) {
    #number_display{
        font-size: 100px;
        font-weight: bolder;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    #increase_count{
        width: 100px;
        height: auto;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;
         margin-right: 1rem;
         
    }
    #increase_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
    #decrease_count{
        width: 100px;
        height: auto;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;  
    }
    #decrease_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
}
@media (min-width:1200px) {
    #number_display{
        font-size: 250px;
        font-weight: bolder;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }
    #increase_count{
        width: 130px;
        height: 40px;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;
         margin-right: 1rem;
         
    }
    #increase_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
    #decrease_count{
        width: 130px;
        height: auto;
        color: aliceblue;
        background: #0984e3;
        transition: .3s ease-in-out;
        border-radius: 20px;  
    }
    #decrease_count:hover{
        background: linear-gradient(to right,#f368e0,#48dbfb);
        border: 1px solid blueviolet;
    }
}